<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header class="flex items-end justify-center">
        <ul
            class="my-5 flex items-center justify-center rounded-full border-1 border-orange-800"
        >
            <li>
                <button
                    class="flex items-center justify-around space-x-2 rounded-full p-4 transition duration-300 hover:bg-orange-700"
                >
                    <img
                        src="./assets/icons/alien.svg"
                        alt="Alien Icon"
                        class="h-6 w-6"
                    />
                    <span class="text-md font-semibold text-white">Home</span>
                </button>
            </li>
            <li>
                <button
                    class="flex items-center justify-around space-x-2 rounded-full p-4 transition duration-300 hover:bg-orange-700"
                >
                    <img
                        src="./assets/icons/alien.svg"
                        alt="Alien Icon"
                        class="h-6 w-6"
                    />
                    <span class="text-md font-semibold text-white">About Me</span>
                </button>
            </li>
            <li>
                <button
                    class="flex items-center justify-around space-x-2 rounded-full p-4 transition duration-300 hover:bg-orange-700"
                >
                    <img
                        src="./assets/icons/alien.svg"
                        alt="Alien Icon"
                        class="h-6 w-6"
                    />
                    <span class="text-md font-semibold text-white">Projects</span>
                </button>
            </li>
        </ul>
    </header>


</body>
</html>